@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Gorditas);

br.clear {
  clear: both;
}

html {
  background-color: #261C0D;
}

body {
  background-color: #b8e3ff;
  font-family: "Comfortaa", Arial;
}