header, section, nav, article, footer, address {
  display: block;
}

h1, h2, h3, h4, h5, ol, ul, fieldset, p, body, html {
  margin: 0;
  padding: 0;
}

fieldset, {
  border: 0;
}

ol, ul {
  list-style: none;
}

label {
  display: none;
}
