// Place all the styles related to the Pings controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Make HTML 5 elements display block-level for consistent styling */

div#top {
  width: 1024px;
  margin: 0 auto;
}

header {
  h1 {
    width: 648px;
    height: 111px;
    text-indent: -9999px;
    background: image-url("logo.png") no-repeat 0 0;
  }
}

section#social {
  margin-top: -98px;
  float: right;
  a {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    background-image: image-url("social.png");

    &.twitter {
      float: left;
      margin-right: 15px;
      background-position: 0 0;
    }

    &.facebook {
      float: left;
      background-position: 48px 0;
    }
  }
}

section#cute_dyno {
  float: left;
  width: 512px;
  height: 505px;
  text-indent: -9999px;

  span.arrow {
    display: block;
    width: 216px;
    height: 156px;
    margin: 33px 0 0 33px;
    opacity: 0;
    background: image-url("info.png") no-repeat 50% 100%;
  }

  span#talks {
    float: left;
    display: block;
    width: 200px;
    height: 50px;
    margin: -70px 0 0 248px;
    text-indent: initial;
    font-size: 24pt;
    text-align: center;
    opacity: 0;
    font-family: "Gorditas";
  }

  a {
    display: block;
    width: 291px;
    height: 309px;
    margin-left: 164px;
    background: image-url("dyno_awaken.png") no-repeat 50% 100%;

    span.eyes {
      float: left;
      display: block;
      width: 19px;
      height: 16px;
      margin: 51px 0 0 197px;
      background: image-url("eyes.png") no-repeat 0 0;
    }

    span.eyes_blink {
      background-position: -23px 0;
    }
  }
}

section#registration {
  float: right;
  width: 480px;
  margin: 40px 0 0 0;

  strong {
    color: #6D6A7A;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    font-size: 20pt;
  }

  p {
    font-size: 12pt;
  }
  span {
    color: #f00;
    font-size: 12pt;
  }

  ul {
    margin-top: 10px;
  }

  li {
    padding: 11px 0 0 10px;
    font-size: 12pt;
  }

  input[type="text"] {
    width: 302px;
    margin: 30px 0 0 10px;
    padding: 5px;
    color: #888;
    font-size: 17pt;
    box-shadow: #D7D7D7 0px 1px 3px 0px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px #D7D7D7;
    -moz-box-shadow: inset 0 1px 3px #d7d7d7;
    border: 1px solid #A7AEB3;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #D7D7D7;
    background-color: white;
  }

  input[type="submit"] {
    float: right;
    width: 102px;
    height: 40px;
    margin: 28px 18px 0 0;
    border: 1px solid #000;
    background-color: #25ad00;
    font-size: 14pt;
    color: #FFE;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    &:active {
      background-color: #257600;
    }
  }
}

div#bottom {
  background-color: #261c0d;
  span#grass {
    position: relative;
    display: block;
    height: 81px;
    top: -81px;
    margin-bottom: -81px;
    background: image-url("grass.png") repeat-x 0 0;
  }
}

div#bottom_center {
  width: 1024px;
  margin: 0 auto;

  cite {
    display: block;
    height: 41px;
    width: 498px;
    margin: 4px 0 0 0;
    text-indent: -9999px;
    background: image-url("my_dynosaur.png") no-repeat 0 0;
  }

  section {
    padding: 30px;
    border-radius: 50px;
    background-color: #413017;
    color: #BC9B74;
    h5 {
      margin: -15px 0 0 0;
      text-align: center;
      font-size: 16pt;
      color: #E9A95F;
    }

    p {
      text-align: justify;
    }

    strong {
      color: #6D6A7A;
      font-weight: normal;
    }

    span {
      font-style: italic;
      font-family: "Courier New";
    }
  }
}

section#about {
  float: right;
  width: 412px;
  margin-top: -33px;
}

section#how_it_works {
  float: left;
  width: 412px;
  margin-top: 10px;
}

div#iphone_fixer {
  height: 10px;
  position: relative;
  top: 5px;
  background-color: #261C0D;
}