<!DOCTYPE html>
<html>
<head>
  <title>Wake my dyno!</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=1225" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
